<a href="@Href" class="flex items-center gap-3 rounded-lg border border-gray-200 p-3 text-sm text-gray-700 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-700 dark:border-gray-700">
    <iconify-icon icon="@IconifyIcon" class="text-2xl"></iconify-icon>
    <div>
        <div class="font-medium">@Title</div>
        <div class="text-xs text-gray-500 dark:text-gray-400">@Description</div>
    </div>
</a>