<main class="flex-grow flex flex-col justify-center max-w-7xl sm:min-h-[300px] lg:min-h-[500px] w-full mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-16">
        <div class="text-center">
            <p class="text-sm font-semibold text-[#DD4B39] uppercase tracking-wide">Snap!</p>
            <h1 class="mt-2 text-4xl font-extrabold text-[#88392C] tracking-tight sm:text-5xl">The System Is Upset.</h1>
            <p class="mt-2 text-base text-[#DD4B39]">Don't worry, it's not you, we messed up.</p>
            <div class="mt-6">
                <a href="/" class="text-base font-medium text-indigo-600 hover:text-indigo-500">Go back home<span aria-hidden="true"> &rarr;</span></a>
            </div>
        </div>
    </div>
</main>