<div class="px-2 space-y-1">
    <NavMenuItem Href="/"
                 Name="Home"
                 IconifyIcon="solar:shop-line-duotone"
                 IsActive="true"/>

    <NavMenuItem Href="/products"
                 Name="Products"
                 IconifyIcon="solar:cart-large-line-duotone"/>

    <NavMenuItem Href="/categories"
                 Name="Categories"
                 IconifyIcon="solar:folder-open-line-duotone"/>

    <NavMenuItem Href="/tags"
                 Name="Tags"
                 IconifyIcon="solar:tag-line-duotone"/>

    <NavMenuItem Href="/suppliers"
                 Name="Suppliers"
                 IconifyIcon="solar:delivery-line-duotone"/>
                
</div>