<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <link href="~/flowbite/flowbite.min.css" rel="stylesheet"/>
</head>
<body class="min-h-screen">
<div class="min-h-full">
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="/" class="flex items-center mb-6 text-2xl font-base text-cyan-700">
                <span class="font-bold text-cyan-700">BYTE</span>Cart
            </a>
            @RenderBody()
        </div>
    </section>
</div>


<script src="~/flowbite/flowbite.min.js"></script>
<script src="~/js/theme.js"></script>
<script>
    window.initializeFlowbite = () => {
        initFlowbite();
    }

    document.addEventListener('DOMContentLoaded', () => {
        initFlowbite();
        if (window.themeManager && typeof window.themeManager.initialize === 'function') {
            window.themeManager.initialize();
        }
    });
</script>
</body>
</html>